@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


/* :root{
  --pinkish-red: #C35A74;
  --medium-blue: #1E3868;
  --greenish-blue: #1A5986;
  --bright-orange: #CC151C;
  --white-smoke: #F5F5F4;
  --white: #FFF;
  --dark-gray: #7D7C7C;
  --black: #000;
} */

body {
    margin-top: 20px;
}

.sectionPricing {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background: #F5F5F4;
}

.content {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 100px;
}

.box {
    display: flex;
    flex-direction: column;
    height: 586px;
    min-width: 50%;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;

    background: #FFF;
    
    box-shadow: 7px 8px 20px 0px rgba(91,86,86,0.75);
-webkit-box-shadow: 7px 8px 20px 0px rgba(91,86,86,0.75);
-moz-box-shadow: 7px 8px 20px 0px rgba(91,86,86,0.75);
}

.title {
    width: 100%;
    padding: 10px 0;
    font-size: 1.2em;
    font-weight: lighter;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    color: #F5F5F4;
}

.basic .title {
    background: #C35A74;
}

.standard .title {
    background: #1E3868;
}

.business .title {
    background: #1A5986;
}

.view {
    display: block;
    width: 100%;
    padding: 30px 0 20px;

    background: #F5F5F4;
}

.icon {
    display: flex;
    justify-content: center;
}

.icon img {
    width: 150px;
}

.cost {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
}

.amount {
    font-size: 1.5em;
    font-weight: bolder;
}

.detail {
    margin: auto 0 auto 5px;
    width: 70px;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 15px;
    color: #7D7C7C;
}

.description {
    margin: 30px auto;
    font-size: 0.8em;
    color: #7D7C7C;
}

ul {
    list-style: none;
}

li {
    margin-top: 10px;
}

.list>li::before {
    content: "";
    background-image: url("https://i.postimg.cc/ht7g996V/check.png");
    background-position: center;
    background-size: cover;
    opacity: 0.5;

    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.button {
    margin: 0 auto 30px;
}

button {
    height: 40px;
    width: 250px;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #7D7C7C;
    border: 2px solid #7D7C7C;
    border-radius: 50px;

    background: transparent;
}

button:hover {
    color: #F5F5F4;
    transition: 0.5s;
    border: none;

    background: #CC151C;
}

/* Responsiveness:Start */
@media screen and (max-width:970px) {
    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 50px auto;
    }

    .standard,
    .business {
        margin-top: 25px;
    }
}

/* Responsiveness:End */